<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%- include('../dist/css') -%>

        <% if (hasOEmbed) { %>
        <link rel="alternate" type="application/json+oembed"
            href="<%- apiUrl -%>/oembed?url=<%- oembedUrl -%>&format=json"
            title="SquadOV oEmbed Profile" />
        <% } %>
        <link rel="icon" href="/assets/icon.ico" type="image/x-icon" />
        <title>SquadOV</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <app></app>
                </v-main>
            </v-app>
        </div>

        <script type="text/javascript" src="https://cdn.statuspage.io/se-v2.js"></script>
        <%- include('../dist/js') -%>
    </body>
</html>