{
    "oauth" : {
        "tenantId": "${FUSIONAUTH_TENANT_ID}",
        "clientId": "${FUSIONAUTH_CLIENT_ID}",
        "clientSecret": "${FUSIONAUTH_CLIENT_SECRET}",
        "faUrl": "http://internal-fusionauth-service:9011"
    },
    "url": "https://eagle.squadov.gg",
    "secure": true,
    "database": {
        "username": "${POSTGRES_USER}",
        "password": "${POSTGRES_PASSWORD}",
        "host": "127.0.0.1",
        "db": "squadov",
        "port": 5432
    }
}