@charset "utf-8";
@import '~vuetify/src/styles/styles.sass';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.full-height {
    min-height: 100%;
}

.full-parent-height {
    height: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

html {
    overflow: auto !important;
}

.vod-div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: yellow;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 0px 4px;
}

.full-width {
    width: 100%;
}

.v-tooltip__content.menuable__content__active {
    opacity: 1!important;
}

.long-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}