@charset "utf-8";
@import '~vuetify/src/styles/styles.sass';

@import '@client/sass/themes/default.scss';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.full-height {
    min-height: 100%;
}

.full-parent-height {
    height: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

html {
    overflow-y: hidden !important;
}

.vod-div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: yellow;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 0px 4px;
}

.full-width {
    width: 100%;
}

.v-tooltip__content.menuable__content__active {
    opacity: 1!important;
}

.long-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.footer-text {
    line-height: 1rem !important;
}

#footer {
    position: sticky;
    bottom: 0px;
    background-color: #121212;
    z-index: 1;
}

#appInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.v-input--dense.v-text-field--outlined .v-chip {
    height: 24px;
    margin-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

#desktopAppDiv {
    height: calc(100vh - 32px);
    margin-top: 32px;
    overflow: auto !important;
}

#webAppDiv {
    height: calc(100vh);
    overflow: auto !important;
}