<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%- include('../dist/css') -%>
        <title>SquadOV - Admin Dashboard</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <app-nav></app-nav>
                <v-main>
                    <app></app>
                </v-main>
            </v-app>
        </div>

        <%- include('../dist/js') -%>
    </body>
</html>